<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Element Concentrations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="chart-container">
        <h1>Element Concentrations</h1>
        <div id="plot"></div> <!-- Changed id to "plot" -->
    </div>
    <!-- Include Plotly.js library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='mdscatter.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-surface.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js"></script>
</body>
</html>
